.space-intro {
    margin-top: 100px;
}

div {
    outline: none;
}

.img {
    width: 100%;
}

a {
    text-decoration: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* 
video {
  object-fit: fill;
} */

p {
  margin-bottom: 0 !important;
}

.mention {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    box-decoration-break: clone;
    color: rgb(65, 65, 226);
    padding: 0.1rem 0.3rem;
}